@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Noto+Sans+JP|Source+Code+Pro|Ubuntu&display=swap");
body {
  position: relative;
  text-align: center;
}

body {
  color: #f7f7f7;
  background-color: #333333;
  font-family: "Source Code Pro", "Lexend Deca", "Ubuntu", "Noto Sans JP",
    "Avenir", Helvetica, Arial, sans-serif;
  font-size: 1.618em;
}

a {
  color: #66aa66;
  text-decoration: none;
}

a:hover {
  text-decoration: underline overline;
}

a:visited {
  color: #669966;
}

main {
  text-align: center;
}
